:root {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;    
   
    
    a{
        text-decoration: none;
        color: black;
        transition: color 500ms;


        &:hover {

            color: pink;
        }
    }
}

button {
    background-color: white;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
        box-shadow: 5px 5px 0px 2px;
        transform: translateX(-5px) translateY(-5px);
        
    }

    &:focus {
        padding: 9px;
    }


}


body {
    margin: 0;
    width: 100%;

}


main {
    display: flex;
    flex-flow: row nowrap;
    height: 95vh;
    width: 100%;
 
    position: relative;
    overflow: hidden;
    
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 60rem;
    margin-left: 150px;
    z-index: 10;
    position: absolute;

    @media screen and (max-width: 2440px){
        margin-top: 50rem;
    }
    
    
}

.nav-links {
    display: flex; 
    flex-flow: column nowrap;
    font-size: 1.8rem;
    font-weight: bold;
  

    a{
        transition: all 300ms;
        padding: 5px;
        

        &:hover {
            box-shadow: 5px 5px 0px 2px black;
            margin-bottom: 8px;
            border: 2px solid black;
            transform: translateX(-5px) translateY(-5px);

        }
    }

    
}


/// home Section Style
/// 
/// 
/// 
/// 


.home {
     display: flex;
     flex-flow: row nowrap;
     overflow: hidden;
     isolation: isolate;

     width: 100%;
     height: 95vh;
     justify-content: center;
     flex-shrink: 0;

     visibility: visible;

     opacity: 1;

     transition: all 500ms;
    
     

}


.home-text {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    z-index: 7;
    margin-left: 50px;
    margin-top: 10rem;

    h1 {
        font-size: 4rem;

    }

    strong {
        font-size: 6rem;
        margin-left: 100px;
       
    }

    p {
        font-size: 2.3rem;
        margin-left: 150px;

      

    }

    ul {
        padding-left: 160px;
        list-style: none;

        li {
            font-size: 2rem;
        }
    }
    

    @media screen and (max-width: 2440px){
        margin-top: 1rem;
        margin-left: 250px;
    }
}

.circles {
    display: flex;
    flex-flow: column nowrap;
    z-index: 3;
    position: relative;
    margin-right:5rem; 
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    height: 90vh;

   



    #circ1 {
        

        position: absolute;
        transform: translateY(-300px) translateX(100px);
        height: 900px;

        
        
    }

    #circ2 {

        background-color: transparent;
        position: absolute;
        height: 900px;
       
        transform: translateY(500px) translateX(-100px);
    }

}

.profile-img {
    z-index: 8;
    transform: translateX(-50px);
    height: 800px;
    width: 800px;
    

    

    display: flex;

    
    object-fit: contain;
    align-self: center;

    justify-content: center;
    align-items:center;


    border-radius: 50vh;

    img {
        width: 600px;
        height: 600px;
       
    }

}



//Footer Style

footer {
    border-top: 2px solid black;
    width: 100%;
    height: 5vh;
    z-index: 25;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;

    a {
        font-size: 1.3rem;
    }
}

.footer-btn {
    margin-left: 15rem;
    font-size: 1rem;
}

///Portfolio Sections
/// 
/// 


.portfolio {
    width: 100%;
    height: 95vh;

    display: flex;
    flex-flow: column nowrap;
    opacity: 1;

    flex-shrink: 0;
    transition: all 500ms;

    visibility: visible;
    transform: translateX(-100%);
}

h2 {
    font-size: 5rem;
    margin-left: 100px;

}


.portfolio-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}


.card-box {
    display: flex;
    display: column wrap;
    width: 60%;
    padding-bottom: 5rem;


    overflow-y: auto;
    scroll-behavior: smooth;



    

    

}

.portfolio-btns {
    margin-top: auto;
    margin-left: 400px;
    display: flex;
    height: 100px;

    width: 15%;

    


}
button{

    font-size: 1.3rem;
    margin-right: 10px;

}
#port-next {
    padding-left: 10px;
    padding-right: 10px;


}


.card {
    border: 2px solid black;
    min-width: 400px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    
    padding-bottom: 50px;

    transition: all 500ms;

    margin-left: 15px;
    margin-right: 15px;





    img {
        max-width: 400px;   
        object-fit: cover;


    }

    .title {
        margin-top: auto;
        z-index: 2;

    }

    .explore {
        margin-top: 45vh;
    }



    &:hover {
        box-shadow:   10px 10px 0px 5px;
    }
}




///// Experience Sections
/// 
/// 
/// 



.experience {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    visibility: visible;

    transition: all 500ms;

    transform: translateX(-5100px);
    flex-shrink: 0;

    scroll-behavior: smooth;

    @media screen and (max-width: 2440px){
        transform: translateX(-3850px);
    }
}

h3 {
    font-size: 5rem;
    margin-left: 100px;
}


.experience-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%
}


.experience-btns {
    width: 20%;
    margin-left: 350px;
    margin-top: 10px;


}
#exp-up {
    padding-left: 10px;
    padding-right: 10px;


}


.experience-box {
    width: 70%;

        display: flex;
        flex-flow: column nowrap;
    align-self: flex-end;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.exp-card {
    width: 80%;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 400px;
    margin-left: 20px;

    transition:all 300ms;


   
   &:hover {
    box-shadow: 8px 8px 0px 2px;
    transform: translateX(-5px) translateY(-5px);
    border: 2px solid black;
   }
}

.exp-name{
    font-size: 2rem;
    padding: 25px;
} 

.exp-date {
    font-size: 1.7rem;
    margin-left: 30px;
}


.exp-descr {
    margin-left: 60px;
    width: 50%;
}






/// Dynamic Classes
/// 
/// 


.selected {
    background-color: black;

}

.hidden {
   visibility: hidden;
    opacity: 0;
    

}


.transform {
    transform: translateX(-1000px)
}

